# vscode
.vscode
.vs

# java
.gradle
.idea
build
dist

gradle.properties
application-*.yml
log4j2-*.xml
fields-*.json
vite.config-*.ts

# log
*.log
*.local

# mac
.DS_Store

# npm packages
node_modules