@use "theme.scss";
@use "theme-black.scss";
@use "theme-green.scss";
// https://fonts.google.com/icons?icon.set=Material+Symbols
@use 'material-symbols/outlined.css';

body{
    margin: 0;
    color: theme.$color;
    background-color: theme.$color-bk;
}

div{
    display: flex;
    flex-direction: column;
}

@media(max-width: 640px){
    .mobile-none{
        display: none;
    }
}

button{
    color: theme.$color-bk;
    background-color: theme.$color;
    font-weight:bolder;
    padding: 6px 8px;
    border-radius: 4px;
    border: 1px solid theme.$color-bk;
    cursor: pointer;
    &.disabled{
        cursor: not-allowed;
        @include theme.mx-disabled;
    }
    &:hover{
        background-color: theme.$color-2nd;
    }
    
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    vertical-align: sub;
}

.popup-dialog{
    background-color: theme.$color;
    opacity: 0.8;

    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    bottom: 0;

    visibility: collapse;

    display: flex;
    align-items: center;
    justify-content: center;
    .dialog{
        background-color: theme.$color-bk;
        border: 2px solid theme.$color;
        border-radius: 8px;
        //box-shadow: 0 0 8px 4px color.scale(theme.$light, $lightness:+20%);

        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;

        .dialog-head{
            color: theme.$color;
            margin: 1px;
            font-weight: bold;
            border-radius: 4px;
            background-color: theme.$color-bk-2nd;
            padding: 4px;
            flex-flow: row nowrap;
            align-items: center;
        }

        .dialog-body{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 1em;
            gap: 0.5em 0.5em;
        }

        .dialog-footer{
            padding: 0.5em;

            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            gap: 0 0.25em;
        }
    }
}