@use "theme.scss";
@use "sass:color";
// https://fonts.google.com/icons?icon.set=Material+Symbols
@use 'material-symbols/outlined.css';

body{
    margin: 0;
}

button{
    color: theme.$dark;
    background-color: theme.$light;
    font-weight:bolder;
    padding: 6px 8px;
    border-radius: 4px;
    border: 1px solid theme.$secondary;
    cursor: pointer;
    &.disabled{
        cursor: not-allowed;
        color: color.grayscale(theme.$dark) !important;
        background-color: color.grayscale(theme.$light) !important;
    }
    &:hover{
        background-color: color.scale(theme.$light, $lightness:-10%);
    }
    
}


.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    vertical-align: sub;
}