.theme-black{
    // 主色调
    --color: black;
    // 第2色调: 和主色有轻微不同
    --color-2nd: dimGray;
    // 强调色: 表示强调
    --color-em: black;
    // 背景色: 需要和上面三种色保持高对比度,字迹易辨认
    --color-bk: white;
    // 第2背景色: 和背景色有轻微的亮度不同
    --color-bk-2nd: gainsboro;

    // 功能色
    --color-bk-success: slateGray;
    --color-bk-warning: lightGray;
    --color-bk-error: dimGray;
    --color-bk-disabled: gray;

    img{
        filter: grayscale(1.0);
    }
}