@use "../../theme.scss";

.caption{
    align-self: flex-start;
    font-size: larger;
    font-weight: 600;
    margin: 1em;
    color: theme.$color;
}

.footer{
    padding: 8px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    button{
        font-size: 1.2em;
        margin: 4px;
    }
}

.field-list{
    align-self: stretch;
    margin: 0.5em 0.5em;
    padding : 0.5em;
    flex: 1 0 auto;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 0 1em;

    .box-field{
        display: flex;
        align-items: center;
        padding: 0 1em;
        border-bottom: 1px solid theme.$color;
        align-self: stretch;
        flex: 0 0 auto;

        @mixin field-gap{
            padding: 4px 8px;
        }

        .field-key{
            color: theme.$color;
            font-weight: bold;
            width: 10em;
            @include field-gap;
        }

        .field-desc{
            width: 6em;
            @include field-gap;
        }

        .field-range{
            flex: 1 0 auto;
        }

        .field-action{
            flex: 0 0 auto;
            margin: 2px;
        }

        .field-description{
            flex: 1 1 auto;
            white-space: nowrap;
            @include field-gap;
        }

        input{
            margin: 4px;
            text-align: center;
        }
    }
}