@use "../theme.scss";

.caption{
    align-self: flex-start;
    font-size: larger;
    font-weight: 600;
    margin: 1em;
    color: theme.$dark;
}

.footer{
    padding: 8px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    button{
        font-size: 1.2em;
        margin: 4px;
    }
}

.field-list{
    align-self: stretch;
    margin: 1em 0.5em;
    padding : 0.5em;
    border-top: 1px solid theme.$primary;
    border-bottom: 1px solid theme.$primary;


    display: flex;
    align-items: center;
    gap: 0 1em;

    .field-key{
        color: theme.$dark;
        font-weight: bold;
        
    }

    .field-desc{
        flex: 1 0 auto;
    }

    .field-action{
        flex: 0 0 auto;
    }
}