// 主色调
$color:     var(--color, #004B70);
// 第2色调: 和主色有轻微不同
$color-2nd: var(--color-2nd, #008FD6);
// 强调色: 表示强调
$color-em:  var(--color-em, #B34D09);
// 背景色: 需要和上面三种色保持高对比度,字迹易辨认
$color-bk:  var(--color-bk, #E9F6FE);
// 第2背景色: 和背景色有轻微的亮度不同
$color-bk-2nd: var(--color-bk-2nd, #B3E3FF);

// 功能色
$color-bk-success: var(--color-bk-success, #005E00);
$color-bk-warning: var(--color-bk-warning, #F5A500);
$color-bk-error:   var(--color-bk-error, #A60000);
$color-bk-disabled:var(--color-bk-disabled, #808080);

$size-mobile-max-width: 640px;  // portrait
$size-mobile-max-height: 480px; // landscape

@mixin mx-success {
    color: $color-bk;
    background-color: $color-bk-success;
}
@mixin mx-warning {
    color: $color;
    background-color: $color-bk-warning;
}
@mixin mx-error {
    color: $color-bk;
    background-color: $color-bk-error;
}
@mixin mx-disabled {
    color: $color-bk;
    background-color: $color-bk-disabled;
}