/*
  *scss全局变量定义文件
*/

$main-color: #268507;
$main-light-color: #c0ffd9;
$main-lighter-color: #f1fff5;
$text-color: #333;
$dark-text-color: #fff;
$navBar-height: 10vh;
$sideBar-width: 15vw;
$bottom-version: 4vh;

$size-mobile-max-width: 640px;  // portrait
$size-mobile-max-height: 480px; // landscape
